# Mac-Systemdateien
.DS_Store

# Umgebungsdateien
.env

# Influx
influxdb-config/
influxdb/

# ALLE grafana-Dateien ignorieren ...
grafana/*

# ... außer provisioning und darin dashboards
!grafana/provisioning/
!grafana/provisioning/dashboards/
!grafana/provisioning/dashboards/*.json
!grafana/provisioning/dashboards/*.yaml
!grafana/provisioning/alerting/
!grafana/provisioning/alerting/**

# Andere Unterordner in grafana sollen weiter ignoriert bleiben