# MAC system files
.DS_Store

# environment variable file
.env

# Influx
influxdb-config/
influxdb/

# ignore all grafana files
grafana/*

# ... except provisioning and its dashboards
!grafana/provisioning/
!grafana/provisioning/dashboards/
!grafana/provisioning/dashboards/*.json
!grafana/provisioning/dashboards/*.yaml
!grafana/provisioning/alerting/
!grafana/provisioning/alerting/**

# Alerting rules and contact-points are generated and don't belong in Git:
grafana/provisioning/alerting/power_sum_max.yaml
grafana/provisioning/alerting/power_imbalance_rule.yaml
grafana/provisioning/alerting/contact-points.yaml

