apiVersion: 1
contactPoints:
  - orgId: 1
    name: grafana-default-email
    receivers:
      - uid: email-alerts
        type: email
        settings:
          addresses: "{{ALERT_EMAIL_RECIPIENT}}"